* {
    font-family: sans-serif;
}

li {
    list-style: none;
}

.container1 {
    background-color: #fedc32;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.container1 :hover {
    background-color:white;
    color: black;
}

.container2 {
    background-image: url(./P_images/house.PNG);
    width: 100%;
    height: auto;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.container2 button#get-started {
    background-color: #fedc32;
    color: white;
    border-radius: 10%;
    border: 0;
}

.container2 button#get-started:hover {
    background-color: white;
    color: black;
    border: 0;
}

.container3 {
    background-color: #fedc32;
    color: white;
    padding: 90px 0px 0px;
}

.container3 button#readable {
    background-color: white;
    color: black;
    border: 0;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    padding: 12px;
}

.container3 button#readable:hover{
    background-color: black;
    color: white;
}

.container3 img.image_of_house {
    display: flex;
    justify-content: flex-end;
    padding: 0px 15px;
}

