/* Estilos Generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.container1 {
    display: flex;
    align-items: center;
    background-color: #fedc32;
    color: white;
}

.dwelling {
    margin-right: 20px;
}

#general-information {
    list-style-type: none; 
    display: flex; 
    padding: 0;
    margin: 0;
}

#general-information ol {
    margin: 0 10px; 
}

#general-information a {
    text-decoration: none;
    color: white;
}

#general-information a:hover {
    border: none;
    background-color: white;
    color: black;
    border: none;
    height: auto;
    border-radius: 5%;
}

.user_image, .icon_magnifying {
    width: 20px;
    height: 20px;
}

/* Sección de Presentación, container 2 */
.container2 .slider-box {
    background-image: url(/P_images/house.PNG);
    background-size: cover;
    object-fit: fill;
    color: white;
    width: 950px;
    padding: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.container2 .slider-box h2 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2 .slider-box button#get-started {
    background-color: #fedc32;
    color: white;
    border-radius: 10%;
    border: 0;
    padding:  12px 10px;
    width: 130px;
    text-decoration: none;
}

.container2 .slider-box #get-started:hover {
    background-color: white;
    color: black;
    border: 0;
    cursor: pointer;
}

/* Sección About Us */
.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background: #fedc32;
    color: white;
}

.text_container {
    max-width: 60%;
}

.aboutus_image img {
    max-width: 100%;
    height: auto;
}

.about_us_title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.aboutus_text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#readable {
    background: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#readable:hover {
    background-color: #333;
    color: white;
}

#readable a {
    color: #333;
}

#readable a:hover {
    background-color: #333;
    color: white;
}
