.container3 {
    background-color: #fedc32;
    color: white;
    padding: 90px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: 100vh; 
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.container3 a {
    text-decoration: none;
}

.container3 button#readable {
    background-color: white;
    color: black;
    border: 0;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    padding: 12px;
    font-size: large;
}

.container3 button#readable:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.container3 img.aboutus_image{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}