* {
    margin: 0;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container1 {
    background-color: #fedc32;
    display: grid;
    
}

.container1 img.dwelling{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.container1 nav.main-navbar li#general-information a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 5px;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
}

.container1 .main-navbar li#general-information :hover {
    background-color:white;
    color: black;
    border: none;
    border-radius: 5%;
    height: 20%;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.container1 img.user_image {
    height: 5%;
    width: 5%;
}

.container1 img.user_image:hover {
    background-color: white;
    color: black;

}

.container1 img.icon_magnifying {
    height: 5%;
    width: 5%;
}

.container1 img.icon_magnifying :hover {
    background-color: white;
    color: black;
}

.container2 {
    background-image: url(/P_images/house.PNG);
    background-size: cover;
    object-fit: fill;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-grow: 100px;
    line-height: 25.32px;
}

.container2 h2.find_property_text {
    padding: 0px 0px 10px;
}

.container2 p.text_property {
    padding: 30px 0px 0px;
}

.container2 button#get-started {
    background-color: #fedc32;
    color: white;
    border-radius: 10%;
    border: 0;
    padding:  12px 10px;
    width: 130px;
}

.container2 button#get-started:hover {
    background-color: white;
    color: black;
    border: 0;
}

.container3 {
    background-color: #fedc32;
    color: white;
    padding: 90px 0px 0px;
    
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 200px;
}

.container3 button#readable {
    background-color: white;
    color: black;
    border: 0;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    padding: 12px;
}

.container3 button#readable:hover{
    background-color: black;
    color: white;
}

.container3 img.image_of_house {
    display: flex;
    justify-content: flex-end;
    padding: 0px 15px;
}

/*container 4*/
