/* Footer */
.container8 {
    background: #333;
    color: white;
}

.main-footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    }
    
.menu1 { grid-area: 2 / 2 / 3 / 3; }
.menu2 { grid-area: 2 / 3 / 3 / 4; }
.menu3 { grid-area: 2 / 4 / 3 / 5; }
.menu4 { grid-area: 2 / 5 / 3 / 6; }

.menu5 {
    text-align: center;
    margin-top: 20px;
}

.menu5 a {
    color: black;
}

@media (max-width: 768px) {
    .container1 {
        flex-direction: column;
        text-align: center;
    }

    .main-navbar {
        flex-direction: column;
        align-items: center;
    }

    .container3 {
        flex-direction: column;
    }

    .text_container, .aboutus_image {
        max-width: 100%;
    }

    #all_images div {
        flex: 1 1 calc(50% - 20px);
    }

    .container5 {
        flex-direction: column;
    }

    .blog_1, .blog_2, .blog_3 {
        margin: 20px 0;
    }

    .container7 {
        flex-direction: column;
    }

    .mapa {
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    #all_images div {
        flex: 1 1 100%;
    }
}
