/* Properties */
.container4 {
    text-align: center;
    padding: 50px 20px;
}

#properties_text {
    font-size: 2.5em;
}

#property_text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#all_images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#all_images div {
    flex: 1 1 calc(33.333% - 20px);
}

#all_images img {
    max-width: 100%;
    height: auto;
}

/* Sección de Blog */
.container5 {
    background-color: #fedc32;
    color: white;
    padding: 5%;
    font-size: larger;
}

.container5 .blog_1 h2#caps_ourblog::after {
    display: flex;
    border: white solid;
}

.container5 .blog_1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.container5 .blog_2 h2#our_blog_second_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
}

.container5 .blog_2 button#read_more {
    background-color: white;
    color: black;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    cursor: pointer;
    font-size: large;
}

.container5 .blog_2 button#read_more:hover {
    background-color: black;
    color: white;
}

.container5 .blog_3 img.front_building {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    border-radius: 5px;
    display: flex;

}

/* Media Queries */
@media (max-width: 768px) {
    .container5 {
        flex-direction: column;
    }

    .blog_1, .blog_2, .blog_3 {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .blog_1 h2, .blog_2 h2 {
        font-size: 1.5em;
    }

    .blog_1 p, .blog_2 p {
        font-size: 1em;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .container5 {
        flex-direction: column;
    }

    .blog_1, .blog_2, .blog_3 {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .blog_1 h2, .blog_2 h2 {
        font-size: 1.5em;
    }

    .blog_1 p, .blog_2 p {
        font-size: 1em;
    }
}

/* Testimonials section */
.container6 {
    text-align: center;
    padding: 50px 20px;
}

.first_banner_testimonials {
    font-size: 2em;
    margin-bottom: 20px;
}

.box_of_testimonials {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

#name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#info-testimonials {
    font-size: 1.2em;
}

/* Sección de Contacto */
.container7 {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contactus {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#info_ {
    font-size: 2em;
    margin-bottom: 10px;
}

#contact-info {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.mapa iframe {
    max-width: 100%;
    border: none;
    flex: 1;
    margin-right: 0;
}

.contact-form {
    flex: 1;
    height: 60px;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-top: 1%;
}

.contact-form input, .contact-form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background: #fedc32;
    color: white;
    height: 60px;
    width: 100px;
    font-size: large;
}

.contact-form input.message {
    height: 100px;
    width: 550px;
}

.contact-form a {
    color: white;
}

.contact-form button:hover {
    background-color: black;
    color: white;
}