.container5 {
    background-color: #fedc32;
    color: white;
}

.container5 .blog_1 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.container5 .blog_2 button#read_more {
    background-color: white;
    color: black;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    cursor: pointer;
}

.container5 .blog_2 button#read_more:hover {
    background-color: black;
    color: white;
}

.container5 img.front_building {
    display: flex;
    justify-content: flex-end;
}
.container6 #testimonials .first_banner_testimonials {
    font-size: medium 20%;
}

.container6 #testimonials .box_of_testimonials {
    border: 1% solid;
    box-shadow: 10%;
}